<?xml version="1.0"?>
<settings>

    <host>192.168.1.175</host>
    <port>1521</port>
    <service_name>orcl</service_name>
    <user>c##bildeyko</user>
    <password>qwerty</password>

    <days>10</days>
    <companies_per_day>3</companies_per_day>
    <products_at_time>3</products_at_time>
    <customers_per_day>2</customers_per_day>
    <max_batch_size>5</max_batch_size>
</settings>